.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
/prac7_data/Lsatdata/*
/prac7_data/exampleGoogleDrivedata/*
/PUBLISHEXAMPLE/*
/GITEXAMPLE/*
packrat/lib*/
AdamShiny/*
_bookdown_files/*
docs/
